@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-Italic-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-MediumItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-VariableFont_wght.ttf) format('truetype');
}